$dc-color-pink: #eeb7b5;
$dc-color-pink-light: #ffc8c5;
$dc-color-green: #142c1c;
$dc-color-green-light: #224a2c;
$dc-font-franklin: 'FranklinBold';
$dc-font-imprint: 'Franklin Gothic';
$dc-font-franklin-book: 'Franklin Book';
