// Store Page

#primary {
  padding-top: 13rem;
}

.woocommerce .widget-area {
  display: none;
}

.woocommerce-loop-product__title {
  font-size: 1.8rem !important;
  color: $dc-color-green;
  font-family: $dc-font-imprint;
}

.price {
  color: $dc-color-green !important;
  font-family: $dc-font-franklin;
}

.add_to_cart_button {
  display: none;
  background-color: $dc-color-pink;
  color: $dc-color-green;
  font-family: $dc-font-franklin;
  border: 1px solid $dc-color-green;
  text-transform: capitalize;
  &:hover {
    background: $dc-color-green;
    border: 1px solid $dc-color-pink;
    color: $dc-color-pink;
  }
}

.added_to_cart {
  background-color: $dc-color-pink;
  color: $dc-color-green;
  font-family: $dc-font-franklin;
  border: 1px solid $dc-color-green;
  text-transform: capitalize;
  &:hover {
    background: $dc-color-green;
    border: 1px solid $dc-color-pink;
    color: $dc-color-pink;
  }
}

.woocommerce-message {
  background-color: $dc-color-green;
  margin-top: 6rem;
  color: $dc-color-pink;
  font-size: 1.4rem;
  border-radius: 0px;
  border-left: none;
}

// shopping cart widget

  .theme-green {
    .woocommerce-cart-tab {
      background-color: $dc-color-green !important;
      path {
        fill: $dc-color-pink !important;
      }
      .woocommerce-cart-tab__contents {
        background-color: $dc-color-green !important;
        color: $dc-color-pink !important;
        border: 1px solid $dc-color-pink;
      }
    }
    .widget_shopping_cart {
      background-color: $dc-color-green;
      color: $dc-color-pink !important;
      a {
        color: $dc-color-pink !important;
      }
      .widgettitle {
        background-color: $dc-color-green !important;
        color: $dc-color-pink !important;
      }
      .buttons {
        background-color: $dc-color-green !important;
        .button {
          background-color: $dc-color-green;
          color: $dc-color-pink;
          font-family: $dc-font-franklin;
          border: 1px solid $dc-color-pink;
          text-transform: capitalize;
          &:hover {
            background: $dc-color-pink;
            color: $dc-color-green !important;
          }
        }
      }
    }
  }

  .theme-pink {
    .woocommerce-cart-tab {
      background-color: $dc-color-pink !important;
      path {
        fill: $dc-color-green !important;
      }
      .woocommerce-cart-tab__contents {
        background-color: $dc-color-pink !important;
        color: $dc-color-green !important;
        border: 1px solid $dc-color-green;
      }
    }
    .widget_shopping_cart {
      background-color: $dc-color-pink;
      color: $dc-color-green !important;
      a {
        color: $dc-color-green !important;
      }
      .widgettitle {
        background-color: $dc-color-pink !important;
        color: $dc-color-green !important;
      }
      .buttons {
        background-color: $dc-color-pink !important;
        .button {
          background-color: $dc-color-pink;
          color: $dc-color-green;
          font-family: $dc-font-franklin;
          border: 1px solid $dc-color-green;
          text-transform: capitalize;
          &:hover {
            background: $dc-color-green;
            color: $dc-color-pink !important;
          }
        }
      }
    }
  }

.woocommerce-cart-tab-container--right .woocommerce-cart-tab {
    z-index: 100;
    height: 100%;
  }

  .woocommerce-cart-tab__contents {
    top: 5.4rem;
    right: 20px !important;
    bottom: auto;
  }

  .woocommerce-cart-tab .woocommerce-cart-tab__icon  {
    left: auto !important;
    top: 4rem !important;
    right: 30px !important;
    transform: none !important;
  }
// product page

.single_add_to_cart_button {
  background-color: $dc-color-pink !important;
  color: $dc-color-green !important;
  font-family: $dc-font-franklin;
  border: 1px solid $dc-color-green !important;
  text-transform: uppercase;
  &:hover {
    background: $dc-color-green !important;
    border: 1px solid $dc-color-pink !important;
    color: $dc-color-pink !important;
  }
}

.quantity {
  .input-text {
    background-color: $dc-color-pink !important;
    color: $dc-color-green !important;
    border: 1px solid $dc-color-green !important;
    font-size: 1.4rem !important;
  }
}

.panel {
  background-color: $dc-color-pink !important;
  color: $dc-color-green !important;
  border: 1px solid $dc-color-green;
  border-radius: 0px;
  padding: 2rem;
}

.form-submit {
  .submit {
    background-color: $dc-color-pink !important;
    color: $dc-color-green !important;
    font-family: $dc-font-franklin;
    border: 1px solid $dc-color-green !important;
    text-transform: capitalize;
    &:hover {
      background: $dc-color-green !important;
      border: 1px solid $dc-color-pink !important;
      color: $dc-color-pink !important;
    }
  }
}

.comment-form-comment {
  textarea {
    background-color: $dc-color-pink;
    color: $dc-color-green;
    box-shadow: none;
    border: 1px solid $dc-color-green;
  }
}

#respond {
  background-color: $dc-color-pink;
}

.woocommerce-noreviews {
  background-color: $dc-color-green;
  color: $dc-color-pink;
  border-left: none;
}

.woocommerce-LoopProduct-link {
  img {
    border-radius: 0px;
  }
}

.woocommerce-loop-product__title {
  display: none;
}

ul {
  .products {
    margin-top: 10rem;
  }
}

  .widget,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
  margin-bottom: 0px;
  margin: 0 auto !important;
  padding-left: 10px;
  padding-right: 10px;
  width: 33.33% !important;
}

  #pa_size {
    background-color: #eeb7b5;
    color: #152d1b !important;
    border: none;
    font-size: 1.4rem !important;
    text-transform: uppercase;
  }
