// Global

.entry-title {
  text-align: left;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

// Store Page

#primary {
  padding-top: 13rem;
}

.woocommerce .widget-area {
  display: none;
}

.woocommerce-loop-product__title {
  font-size: 1.8rem !important;
  color: $dc-color-green;
  font-family: $dc-font-imprint;
}

.price {
  color: $dc-color-green !important;
  font-family: $dc-font-franklin;
  line-height: 1.8rem;
}

.add_to_cart_button {
  display: none;
  height: 55px;
  background-color: white;
  color: $dc-color-green;
  font-family: $dc-font-franklin;
  border: 1px solid $dc-color-green;
  text-transform: capitalize;
  &:hover {
    background: $dc-color-green;
    border: 1px solid $dc-color-pink;
    color: $dc-color-pink;
  }
}

.added_to_cart {
  background-color: $dc-color-pink;
  color: $dc-color-green;
  font-family: $dc-font-franklin;
  border: 1px solid $dc-color-green;
  text-transform: capitalize;
  &:hover {
    background: $dc-color-green;
    border: 1px solid $dc-color-pink;
    color: $dc-color-pink;
  }
}

.woocommerce-message {
  background-color: $dc-color-green;
  padding: 0.5em;
  margin-top: 6rem;
  color: white;
  font-size: 1.6rem;
  border-radius: 0px;
  border-left: none;
}

  .theme-pink {
    .woocommerce-cart-tab {
      background-color: $dc-color-pink !important;
      path {
        fill: $dc-color-green !important;
      }
      .woocommerce-cart-tab__contents {
        background-color: $dc-color-pink !important;
        color: $dc-color-green !important;
        border: 1px solid $dc-color-green;
      }
    }
  }

.woocommerce-cart-tab-container--right .woocommerce-cart-tab {
    z-index: 100;
    height: 100%;
  }

  .woocommerce-cart-tab__contents {
    top: 5.4rem;
    right: 20px !important;
    bottom: auto;
  }

  .woocommerce-cart-tab .woocommerce-cart-tab__icon  {
    left: auto !important;
    top: 4rem !important;
    right: 30px !important;
    transform: none !important;
  }
// product page

.single_add_to_cart_button {
  height: 40px !important;
  background-color: white;
  color: $dc-color-green;
  font-family: $dc-font-franklin;
  border: 1px solid $dc-color-green;
  text-transform: uppercase;
  &:hover {
    background-color: $dc-color-green;
    border: 1px solid $dc-color-pink;
    color: white;
  }
}

.quantity {
  .input-text {
    background-color: white;
    color: $dc-color-green;
    border: 1px solid $dc-color-green;
    font-size: 1.4rem;
  }
}

.panel {
  background-color: $dc-color-pink !important;
  color: $dc-color-green !important;
  border: 1px solid $dc-color-green;
  border-radius: 0px;
  padding: 2rem;
}

.form-submit {
  .submit {
    background-color: $dc-color-pink !important;
    color: $dc-color-green !important;
    font-family: $dc-font-franklin;
    border: 1px solid $dc-color-green !important;
    text-transform: capitalize;
    &:hover {
      background: $dc-color-green !important;
      border: 1px solid $dc-color-pink !important;
      color: $dc-color-pink !important;
    }
  }
}

.comment-form-comment {
  textarea {
    background-color: $dc-color-pink;
    color: $dc-color-green;
    box-shadow: none;
    border: 1px solid $dc-color-green;
  }
}

#respond {
  background-color: $dc-color-pink;
}

.woocommerce-noreviews {
  background-color: $dc-color-green;
  color: $dc-color-pink;
  border-left: none;
}

.woocommerce-LoopProduct-link {
  img {
    border-radius: 0px;
  }
}

ul {
  .products {
    margin-top: 10rem;
  }
}

  .widget,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product{
  margin-bottom: 0px;
  margin: 0 auto !important;
  padding-left: 10px;
  padding-right: 10px;
  width: 33.33% !important;
}

  #pa_size {
    background-color: white;
    color: #152d1b;
    border: none;
    font-size: 1.8rem !important;
    text-transform: uppercase;
    font-weight: bold;
    label {
      display: none;
    }
  }

  .woocommerce-products-header {
    display: none;
  }

  ul.products li.product .woocommerce-Price-amount {
    font-size: 1.6rem;
    margin-right: 100%;
  }

ul.products li.product .woocommerce-loop-product__title {
  margin-bottom: 0;
  text-align: left;
}

.product_title {
  font-size: 1.8rem;
  letter-spacing: 0px;
  margin-bottom: 0;
}

  .woocommerce-product-details__short-description {
    margin-top: 3rem;
    font-size: 1.6rem !important;
  }

 .size-shop_single {
   border-radius: 0;
 }

.flex-control-nav {
  li {
    img {
      border-radius: 0;
    }
  }
}

.single-product div.product p.price {
  margin: 0;
}

.variations {
  .label {
    display: none !important;
  }
}

.woocommerce-cart-form__contents {
  thead {
    tr {
      th {
        background-color: $dc-color-pink;
        color: $dc-color-green;
      }
    }
  }
}

.woocommerce-cart-form__cart-item {
  max-width: 28rem;
  margin: 0 auto;
    td {
      background-color: $dc-color-pink !important;
    }
    a {
      color: $dc-color-green;
    }
}

.actions {
  border-top: none !important;
  padding-top: 5rem !important;
  .apply-coupon {
      color: $dc-color-green !important;
      border: 1px solid $dc-color-green;
      &:hover {
        background-color: $dc-color-green !important;
        color: white !important;
      }
  }
}

.coupon {
  .apply-coupon {
      color: $dc-color-green !important;
      border: 1px solid $dc-color-green;
      &:hover {
        background-color: $dc-color-green !important;
        color: white !important;
      }
  }
}

.checkout-button {
  background-color: $dc-color-green !important;
  color: $dc-color-pink !important;
  font-family: FranklinBold;
  text-transform: uppercase;
  font-size: 1.4rem !important;
  border: 1px solid $dc-color-green;
  &:hover {
    background-color: $dc-color-pink !important;
    color: $dc-color-green !important;
  }
}

a.remove:before {
  color: $dc-color-green !important;
}

table.cart .product-thumbnail img {
  max-width: 16rem !important;
}

 table {
   color: $dc-color-green;
   th {
    background-color: white !important;
   }
  td {
  background-color: white !important;
  }
}

@media (min-width: 0px) {

/* Make image 75% width to make room to its right */

.flex-viewport {
    width: 75%;
    float: right;
}

/* Make Gallery 25% width and place it beside the image */

.flex-control-nav {
    width: 25%;
    float: left;
}

/* Style each Thumbnail with width and margins */

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
    width: 90%;
    float: none;
    margin: 0 0 15% 0;
}

}

.reset_variations {
  color: $dc-color-green !important;
  &:hover {
    color: $dc-color-green-light !important;
  }
}

.woocommerce-product-gallery__image {
  width: 288px !important;
}

.storefront-hero__button-edit {
  display: none;
}

.site-main {
  padding-top: 0 !important;
}

.wc-backward {
  background-color: $dc-color-green;
  color: white !important;
  font-family: FranklinBold;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 1px solid $dc-color-green !important;
  &:hover {
    background-color: white;
    color: $dc-color-green !important;
  }
  &:focus {
    color: $dc-color-green;
  }
}

.cart_totals {
  h2 {
    display: none;
  }
 float: none !important;
 margin: 0 auto !important;
 text-transform: uppercase;
 font-family: FranklinBold;
}

td.product-subtotal  {
  display: none !important;
}

.product-thumbnail {
  position: relative;
  img {
    width: 28rem;
    margin-bottom: 1.2em !important;
  }
}

.product-name {
  width: 28rem;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: left;
}

.product-remove {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.price-quantity {
  width: 28rem;
  margin: 0 auto;
  font-size: 1.8rem;
  text-align: left;
  .product-price {
    display: inline-block;
    border-right: 3px solid $dc-color-green;
    padding-right: 1rem;
    font-weight: bold;
  }
  .product-quantity {
    display: inline-block;
    padding-left: 1rem;
    font-weight: bold;
  }
}

.coupon {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  label {
    display: none;
  }
}

.button {
  background-color: $dc-color-green !important;
  color: white !important;
  height: 35px;
  font-family: FranklinBold;
  text-transform: uppercase;
  font-size: 1.2rem !important;
}

.checkout-button {
  color:  white !important;
}

.storefront-recent-products {
  display: none;
}

.storefront-best-selling-products {
  display: none;
}

.product_type_variable {
  display: none;
}

.woocommerce-shipping-calculator {
  a {
    color: $dc-color-green !important;
  }
}

.woocommerce-billing-fields {
  input {
    background-color: white;
    box-shadow: none;
    border: 1px solid $dc-color-green;
    &:focus {
      background-color: white;
    }
  }
  select {
    background-color: white;
    box-shadow: none;
    border: 1px solid $dc-color-green;
  }
}

.woocommerce-additional-fields {
  textarea {
    background-color: white;
    box-shadow: none;
    border: 1px solid $dc-color-green;
    &:focus {
      background-color: white;
    }
  }
}

.shipping_address {
  input {
    background-color: white;
    box-shadow: none;
    border: 1px solid $dc-color-green;
    &:focus {
      background-color: white;
    }
  }
}

.woocommerce-info {
  background-color: $dc-color-green;
}

.alt {
  background-color: $dc-color-green !important;
  border: 1px solid $dc-color-green !important;
  color: white !important;
  &:hover {
    background-color: white !important;
    color: $dc-color-green !important;
  }
}

.order_details {
    background-color: white !important;
}

.order_details > li {
    border-bottom: 1px solid $dc-color-green;
}

.woocommerce-table__product-name {
  a {
    color: $dc-color-green;
    &:hover {
      color: $dc-color-green-light;
    }
  }
}

label {
  .payment_method_cheque {
    background-color: white;
  }
}

.comments-link {
  display: none !important;
}

.cart_item {
  margin-bottom: 4rem;
}

.apply_coupon {
  heiht: 60px !important;
}

.input-text {
  overflow: hidden;
  height: 35px;
  box-shadow: none !important;
  border: 1px solid $dc-color-green !important;
  background-color: white !important;
}
